body {
    margin: 0;
    padding: 2rem;
    background: #110806;
    height: 100%;
    color: whitesmoke;
    font-family: "exo 2", serif;
    display: grid;
    place-items: center;
}
.container {
    width: 25rem;
    background: linear-gradient(45deg, #37272798, #a42a2a22, #37272798);
    border-radius: 1rem;
    /* box-shadow: 0.1rem 0.1rem 1rem 0.5rem #f5f5f517; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    height: 10rem;
    width: 12rem;
    /* filter: drop-shadow(0px 0px 4rem #a42a2a98); */
    /* border: 2px solid green; */
}
.container > h2 {
    /* border: 2px solid green; */
    font-size: 2.5rem;
    color: whitesmoke;
    font-weight: 900;
    text-align: center;
}
.container > h3 {
    /* border: 2px solid green; */
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #8bc4d8;
    text-align: center;
}
.container > h4 {
    margin-top: 2rem;
    text-align: center;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #00ffff3d,  #2d4683, #00ffff3d);
    border-image-slice: 1 0;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: normal;
    font-size: 1rem;
    color: lightgoldenrodyellow;
}
.container > h4::first-letter {
    color: #8bc4d8;
    font-size: larger;
    font-weight: 900;
}
.contact-details {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-details-item {
    margin: 0.3rem;
}
.contact-logo {
    aspect-ratio: 1 / 1;
    width: 1rem;
    height: auto;
    filter: invert(1);
}
.event-details {
    color: #c5e1ff;
}
@media (max-width: 600px) {
    body {
        padding: 2vw;
    }
    .container {
        width: 75vw;
    }
    .logo {
        width: 40vw;
        height: 35vw;
    }
    .container > h2 {
        font-size: 8vw;
    }
    .container > h3 {
        font-size: 6vw;
    }
    .container > h4 {
        font-size: 5vw;
    }
    .contact-details {
        width: 65vw;
    }
    .contact-details > h6 {
        font-size: 3vw;
    }
    .contact-logo {
        width: 4vw;
    }
}
